{% extends 'base.html' %}

<!--- ------------ Next ---------------- --->

{% block title %}
    Django With Mulivha
{% endblock %}

<!--- ------------ Next ---------------- --->
    
{% block header_extends %}

{% endblock %}

<!--- ------------ Next ---------------- --->

{% load static %}

<!--- ------------ Next ---------------- --->

{% block content %}
<!---
    <h3 class="home-content"> DJANGO WITH MULIVHA</h3>

-->
	<img src="{% static 'img/Django_With_Mulivha.jpg'%}" class="img-responsive" />
    
{% endblock %}

