{% extends 'base.html' %}
{% block title %}{{ object.title }}{% endblock %}

{% load static %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'objects.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h3>-</h3>
                <h1>FOR MORE INFORMATION</h1>
                <hr>
                <p>Ask Me on Twitter @jc_le_mulivha</p>
            </div>
        </div>
    </div>
{% endblock %}